.choose-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.progress-container {
  position: absolute;
  top: 37%;
  left: 14%;
  width: 72%;
  height: 4px;
  z-index: 1;
  background-color: rgb(216, 216, 216);
}

.progress-bar {
  display: block;
  background: hsl(233, 100%, 50%);
}

.all-sections {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

.choose-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.choose-sec.active .choose-icon {
  background: hsl(233, 100%, 40%);
  box-shadow: 0 0 10px hsl(233, 100%, 50%);

}

.choose-icon {
  width: 3.5rem;
  height: 3.5rem;
  background: hsl(0, 0%, 81%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.pers-text {
    font-size: 0.9rem;
    font-weight: 500;
}