.personal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  margin-top: -0.5rem;
}

.prev-btn,
.next-btn {
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: white;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  transition: all 0.3s ease;
}

.next-btn {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  flex-direction: row-reverse;
}

.prev-icon,
.next-icon {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.prev-btn:hover,
.next-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.next-btn:hover .next-icon {
  animation: right 0.7s ease infinite;
}

.prev-btn:hover .prev-icon {
  animation: left 0.7s ease infinite;
}

@keyframes left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}

@keyframes right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.prev-btn:disabled,
.next-btn:disabled {
  background: #9ca3af;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.prev-btn:disabled .prev-icon,
.next-btn:disabled .next-icon {
  animation: none;
}