.admin-navbar {
  width: 300px;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: width 0.3s ease;
}
.admin-navbar.collapsed {
  width: 100px;
}

.nav-header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-header.collapsed {
  height: 15%;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.logo-icon {
  height: 55px;
  width: 55px;
  border-radius: 0.5rem;
  color: white;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
}
.logo-text.collapsed {
  display: none;
}
.collapse-btn {
  height: 45px;
  width: 55px;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
}
.collapse-btn:hover {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  transform: scale(0.95);
}

.admin-profile {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  padding-left: 1.3rem;
}
.admin-profile.collapsed {
  justify-content: center;
  flex-direction: column;
  gap: 0;
  padding: 1rem 0.5rem;
}
.user-logo {
  height: 45px;
  width: 45px;
  border-radius: 0.5rem;
  color: white;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.user-info.collapsed {
  display: none;
}

.user-info p {
  font-size: 1rem;
  font-weight: 600;
}
.nav-links {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  overflow-y: scroll;
}
.nav-links::-webkit-scrollbar {
  width: 3px;
}
.nav-links::-webkit-scrollbar-track {
  display: none;
}
.nav-links::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.nav-links::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.nav-links.collapsed {
  height: 65%;
}
.link-btn {
  border: none;
  border-radius: 0.7rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
}

.item-label.collapsed {
  display: none;
}

.nav-footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.logout-btn {
  height: 100%;
  width: 100%;
  border: none;
  border-left: 4px solid red;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  overflow-x: scroll;
  overflow: hidden;
}
.logout-btn p {
  font-size: 1.1rem;
  margin: 0;
}
.out-label.collapsed {
  display: none;
}

@media (max-width: 480px) {
  .teacher-navbar {
    transform: translateX(-100%);
  }
  .nav-header.collapsed .collapse-btn {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 1%;
    right: -45%;
  }
}
